---
import { getCollection, type CollectionEntry} from 'astro:content';
import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/blog/BlogCard.astro';

const posts = (await getCollection("blog"))?.sort(
  (blogEntryA, blogEntryB) =>
    (blogEntryB.data.pubDate || new Date()).getTime() -
    (blogEntryA.data.pubDate || new Date()).getTime()
);
---

<Layout>
  <main class="h-fit bg-dark-primary flex flex-col items-center gap-[48px] pt-[140px] pb-[100px] px-[120px]">
    <h1 class="bg-gradient-to-r from-[#636FA4] to-[#E8CBC0] inline-block text-transparent bg-clip-text text-5xl font-bold h-[55px]">blogs</h1>
    {
      posts?.map((post) => (
        <BlogCard title={post.data.title} description={post.data.description} tags={post.data.tags} slug={post.slug} />
      ))
    }
  </main>
</Layout>
