---
import SongsCarousel from '../components/songs-carousel';
import Layout from '../layouts/Layout.astro';
import Home from './page';

---


<Layout>
	<Home/>
  <main class="h-[880px] bg-dark-primary flex flex-col items-start gap-x-[24px] gap-y-[18px] px-[120px] h-fit pb-[100px]">
    <h1 class="text-2xl text-gray-400 font-bold h-[55px]">favourite songs at the moment</h1>
		<SongsCarousel client:load/>
  </main>
</Layout>
